@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

:root {
    --primary: #3b82f6;
    --secondary: #8b5cf6;
}

body {
    @apply bg-base-100 text-base-content;
}

@theme {
    --color-primary: #3b82f6;
    --color-secondary: #8b5cf6;
    --color-accent: #10b981;
    --color-neutral: #6b7280;

    --radius-box: 0.5rem;
    --radius-btn: 0.375rem;
}